@use "./mixins";
@use "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

input,
textarea,
select {
  font-family: inherit;
}

button {
  border: 2px solid #770e0e;
  border-radius: 10px;
  margin: 12px;
  padding: 12px;
  font-size: 14px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }
}

.nav-link {
  border: 2px solid #770e0e;
  border-radius: 10px;
  margin: 12px;
  padding: 12px;
  font-size: 14px;
  text-decoration: none;
  color: inherit;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  }

  &.active {
    color: #ef3131;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 0 12px;

  @include mixins.tablet {
    padding: 0 60px;
  }

  @include mixins.laptop {
    padding: 0 144px;
  }

  @include mixins.desktop {
    padding: 0 240px;
  }
}

header {
  margin-bottom: 20px;
}

header > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding-block: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  @include mixins.tablet {
    flex-direction: row;
  }
}

header h1 {
  font-size: 20px;
}

.header_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.authorization_links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.authorization_links * {
  margin: 0;
}

main {
  flex: 1;
  margin-bottom: 20px;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;

  @include mixins.tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.notes li h3 {
  margin-bottom: 8px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
}
